.teer-paneWondowConatainer{
    display: flex;
    flex-flow: column;
   align-items: center;
   justify-content: center;
   flex: 1;
}
.teer-paneWondowConatainer li{
    align-self: stretch;
    justify-content: center;
    margin-top: 20px;
}

.teer-pedegree-pane{    
    min-height: 100px;
   
}

.teer-member-circle{
    height: 90px;
    width:90px;
    border-radius:50%;
    overflow: hidden;
    margin:2px 20px
}
.teer-member-circle img{
    height: 90px;
    width:90px;

}
.teer-section-content{
    
}
.ghost-element{

     visibility: hidden;  
}

.teer-female {
  
     background-color: palevioletred
}
.teer-male {
 
 background-color: rgba((blue), blue, blue, .6)

}

.teer-user-details{
    position: absolute;
    top: 2px;
    background-color: rgb(226, 226, 226);
    
    z-index: 10000;
    text-align: center;
}