
.dashboard{
  display: flex;
  
}
.dashboard .left-section{
  flex: 1;
}
.dashboard .right-section{
  flex: 4;
}
.dashboard-actions{
  padding: 0%
  
}
.dashboard-actions li{
  list-style: none;
  padding: 2px 10px;
  cursor: pointer;

}

.teer-relative-options{
  display: flex;
  justify-content: space-evenly
}
.teer-mid{
  width:400px
}
.teer-flex-row{
  display: flex;
  
}
